.loginform{
    width: 360px;
    height: 800px;
    border: 1px solid  black;
}
.login1{
    width: 194px;
    height: 72px;
    border: 1px solid white;
    margin-top: 119px;
    margin-left: 84px;
    align-items: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}
.login2{
    width: 312px;
    height: 48px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 43px;
    margin-left: 24px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.login3{
    width: 1300px;
    height: 18px;
    border: 1px white;
    margin-top: 15px;
    margin-left: 4px;
    font-size: 15px;
    border-radius: 1px;
}
.login4{
    width: 312px;
    height: 48px;
    border: 1px solid gray;
    margin-top: 28px;
    margin-left: 24px;
    border-radius: 5px;
}
.login5{
    width: 122px;
    height: 18px;
    border: 1px solid white;
    margin-top: 16px;
    margin-left: 4px;
    line-height: 18px;

}
.login6{
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin-left: 145px;
    margin-right: 11px;
    margin-top: 13px;
    margin-bottom: 11px;
}
.l{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    margin-left: 271px;
    margin-top: -23px;
}
.login7{
    width: 125px;
    height: 21px;
    border: 1px solid white;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 117px;
    text-align: center;
}
.a1{
    width: 38px;
    height: 21px;
    margin-top: 7px;
    margin-left: 130px;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    
}
.login8{
    width: 312px;
    height: 48px;
    margin-top: 20px;
    margin-left: 24px;
    border: 1px solid white;
    background-color: #0E64D2;
    border-radius: 5px;
}
.login9{
    width: 229px;
    height: 21px;
    margin-top: 16px;
    margin-left: 65px;
    border: 1px solid white;
}
.login10{
    width: 168px;
    height: 21px;
    
    border: 1px solid white;
}
.login11{
    width: 50px;
    height: 21px;
    margin-top: -22px;
    margin-left: 160px;
}
.dis{
    display: flex;
    flex-direction: row;
}
.a17{
    width: 130px;
    height: 0px;
    border: 1px solid rgb(50, 48, 48);
    margin-top: 32px;
    margin-left: 11px;
}    
.a15{
    width: 130px;
    height: 0px;
    border: 1px solid rgb(50, 48, 48);
    margin-top: 32px;
    margin-left: 26px;
}
.a16{
    width: 17px;
    height: 21px;
    margin-top: 21px;
    margin-left: 10px;
}
.a18{
    width: 26px;
    height: 26px;
    font-size: 20px;
    color:  #1877F2;
    background-image: url(./facebook\ logo.png);
    margin-top: 11px;
    margin-left: 8px;
}
.a10{
    width: 312px;
    height: 48px;
    margin-top: 15px;
    margin-left: 26px;
    border-radius: 10px;
    background-color:  #1877F2;
    display: flex;
}
.a19{
    width: 148px;
    height: 21px;
    margin-top: 15px;
    margin-left: 45px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 21px;
    background-color:#1877F2 ;
    border: 0px;
}
.aa10{
    width: 312px;
    height: 48px;
    margin-top: 15px;
    margin-left: 26px;
    border-radius: 10px;
    display: flex;
    border: 1px solid black;
}.aa18{
    width: 26px;
    height: 26px;
    font-size: 20px;
    color:  #1877F2;
    background-image: url(./google\ logo.png);
    margin-top: 11px;
    margin-left: 8px;
}
.aa19{
    width: 148px;
    height: 21px;
    margin-top: 13px;
    margin-left: 47px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(93, 87, 87);
    line-height: 21px;
    background-color: white ;
    border: 0px;

}
.a20{
    width: 48px;
    height: 48px;
    margin-top: 68px;
    margin-left: 24px;
    margin-right: 288px;
    border: 1px solid w;
}
.a21{
    width: 138px;
    height: 36px;
    margin-top: -35px;
    margin-left: 78px;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}